<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../../../Styles/Style.css" />

    <title>Nimbus</title>
</head>
<body>
    <header id="header">
			<div class="container">
				<nav class="logo">
					<ul class="sbs">
						<li><div class="userlogo"></div></li>
						<!-- <img src="userlogo.png"> -->
						<li><h1>Logo</h1></li>
					</ul>
				</nav>

				<nav class="center">
					<ul class="sbs">
						<li><a href="#">Search</a></li>
						<li><a href="../TrendingTopics">Trending</a></li>
						<li><a href="#">Top</a></li>
						<li><a href="#">News</a></li>
					</ul>
				</nav>

				<nav class="right">
					<ul class="sbs">
					<!-- <img src="userpic.png"> -->
						<li><div class="userpic"></div></li>
						<li><h2>Usuário</h2></li>
						<li><div class="exitbutton">x</div></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class ="wrapper">
            <div class="container-body">
                <div class="middle-body">
			        @RenderBody()
                </div>
            </div>
		</div>
   
		<footer id="footer">
			<!-- blablablabla-->
		</footer>
</body>
</html>
