@model Nimbus.Web.Website.Models.ChannelModel

@{
    string lastNotificationGuid;
    if (Model.ChannelNotifications.LastNotificationGuid == Guid.Empty)
    {
        lastNotificationGuid = "";
    }
    else
    {
        lastNotificationGuid = Model.ChannelNotifications.LastNotificationGuid.ToString();
    }
}
<script type="text/javascript">
    //global
    currentDiv = 'divNotification';
    skipPopular = 1;
    skipAll = 1;
</script>

<div class="wrapperChannel">
    <nav class="chanTopBar">
        <ul class="sbs">
            <li class="press"><a name="divAllTopics" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar">Todos</a></li>
            <li class="press"><a name="divPopularTopics" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar">Mais vistos</a></li>
            <li class="press"><a name="divNotification" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar">Atualizações</a></li>
        </ul>
    </nav>

    <div id="divNotification">
        <div id="divNotificationWrapper">
            @if (Model.ChannelNotifications.Count > 0)
            {
                //Renato: Verificar Html.Raw -- OK: passou no razor da API
                @Html.Raw(Model.ChannelNotifications.Html);
            }
            else
            {
                <text>Não há novas atividades neste canal.</text>
            }
        </div>
        @if (Model.ChannelNotifications.Count > 0)
         {
           <div id="divNotificationLoad">
               <img src="/images/utils/loading.gif" style="display:none;" id="imgNotificationLoad" />
               <div id="divNotificationLoadButton" style="display:block;" onclick="getChannelNotifications(@Model.CurrentChannel.Id, '@lastNotificationGuid');">Carregar mais notificações</div>
           </div>
         }
    </div>

    <div id="divPopularTopics" style="display:none;">
        <div id="popular">
            @foreach (var item in Model.AllTopics.OrderByDescending(m => m.Count))
            {
                Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
            }
        </div>
        @if (Model.AllTopics.Count() == 15)
        {
            <button id="btn_skipPopular" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'popular', 0, 'skipPopular');">Ver mais</button>
        }
    </div>

    <div id="divAllTopics" style="display:none;">
        <div id="alltpc">
            @foreach (var item in Model.AllTopics.OrderByDescending(m => m.LastModified))
            {
                Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
            }
        </div>
        @if (Model.AllTopics.Count() == 15)
        {
            <button id="btn_skipAll" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'alltpc', 0, 'skipAll');">Ver mais</button>
        }
    </div>



</div>

