<script type="text/javascript">
    //global
    currentDiv = 'divNotification';
</script>
@Scripts.Render(("~/Scripts/UserUtils.js"))

@*
Todos
Mais vistos
Atualizações
*@
<div id="divBarPublicChannel">

</div>

<div>
    <div id="divNotifications">

    </div>

    <div id="divPopularTopics">

    </div>

    <div id="divAllTopics">

    </div>

    <div id="divNewTopic">

    </div>

    <div id="divMessages">

    </div>
</div>