@model Nimbus.Web.Website.Controllers.NimbusController

@{
    ViewBag.Title = "Fale conosco";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}

<div id="divAllFaleConosco">
    <h1>Fale Conosco</h1><br />
    <div id="divContentFaleConosco">
        <section style="padding-bottom:30px;">
            <p>Olá,</p>
            nossa equipe está aguardado por sua participação. envie-nos seus comentários, sugestões,
            dúvidas ou críticas e nós ajude a melhorar cada vez mais.
        </section>
        <form id="formSendFaleConosco" action='/nimbus/sendfaleconosco' method="post" enctype="multipart/form-data">
            <div id="divformFaleConosco" style="margin-left:30%; margin-right:30%;">
                <p><input type="text" name="iptNameFaleConosco" placeholder="Nome" min="10" max="50" style="width: 100%; padding: 4px;" required /></p>
                <p><input type="text" name="iptLastNameFaleConosco" placeholder="Sobrenome" min="4" max="100" style="width: 100%; padding: 4px;" /></p>
                <p><input type="email" name="iptEmailFaleConosco" placeholder="Email" style="width: 100%; padding: 4px;" required /></p>
                <p class="pGreyBold">
                    Tipo:
                    <select name="slcFaleConosco">
                        <option value="sugestao">Sugestões</option>
                        <option value="elogio">Elogios</option>
                        <option value="parceria">Parcerias</option>
                        <option value="critica">Críticas</option>
                        <option value="duvida">Dúvidas</option>
                        <option value="outros">Outros</option>
                    </select>
                </p>
                <p class="pGreyBold">Deixe seu recado:</p>
                <textarea name="txtaMsgFaleConosco" style="width:100%; height:100px;" required></textarea>
            </div>
           
            <input id="divBtnSendFaleConosco" type="submit" value="Enviar" />
        </form>
    </div>
</div>