@model Nimbus.Web.Website.Controllers.NimbusController

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}


<div id="divListQuestionsFaq">
    <h1>FAQ</h1><br />
    <a href="#sctQuestion01"><p>O que é necessário para utilizar os serviços nimbus?</p></a>
    <a href="#sctQuestion02"><p>Para participar do Portal Nimbus é necessário algum pagamento?</p></a>
    <a href="#sctQuestion03"><p>Como posso colaborar?</p></a>
    <a href="#sctQuestion04"><p>O que eu ganho criando material e disponibilizando no Portal Nimbus?</p></a>
    <a href="#sctQuestion05"><p>Como funciona a pontuação do Portal Nimbus?</p></a>
    <a href="#sctQuestion06"><p>Quais são as funções de cada tipo de moderador?</p></a>
    <a href="#sctQuestion07"><p>Como fica minha segurança ao utilizar o Portal Nimbus?</p></a>
    <a href="#sctQuestion08"><p>Caso eu desista da minha conta no Portal Nimbus, o que acontece com minhas informações?</p></a>
    <a href="#sctQuestion09"><p>Apaguei um canal mas ele não desapareceu, o que houve?</p></a>
    <a href="#sctQuestion10"><p>Como funciona os direitos autorais dos materiais disponibilizados no Portal nimbus?</p></a>
</div>

<div id="divAllSectionsFaq">
    <section class="sectionFaqQuestion">
        <a name="sctQuestion01">O que é necessário para utilizar os serviços nimbus?</a>
        <p>  Para participar do portal nimbus basta realizar o cadastro no site acessando aqui ou através do facebook. </p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion02">Para participar do portal Nimbus é necessário algum pagamento?</a>
        <p>Não. Os usuários precisam apenas se cadastrar gratuitamente para poder acessar os conteúdos disponibilizados no portal Nimbus.</p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion03">Como posso colaborar?</a>
        <p>
            É muito fácil. Sabe aquele tema, matéria ou habilidade que você possui e sabe muito sobre o assunto? Crie vídeos, apresentações de power point,
            arquivos de texto, discussões ou até mesmo crie um texto contendo tudo isso com a opção ‘texto’. Crie da sua maneira especial uma forma de repassar
            conhecimento para outras pessoas, mostre e ensine ao mundo um pouco de suas habilidades e adquira conhecimentos e novas experiências aprendendo sobre
            diversos temas que outras pessoas já compartilharam no portal nimbus.
        </p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion04">O que eu ganho criando material e disponibilizando no portal Nimbus?</a>
        <p>
            Você ganha mais conhecimento, reconhecimento e visibilidade. Ao compartilhar seus conhecimentos, automaticamente você fixa ainda mais seu aprendizado,
            ganhando seguidores e admiradores como reconhecimento e valorização do seu trabalho, entre novidades e premiações que podem surgir para os usuários em destaque. Além disso,
            você proporciona ao próximo a oportunidade única de aprender algo de verdade, afinal, o seu jeito de ensinar pode ser o que faltava para alguém aprender algo novo hoje.
        </p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion05">Como funciona a pontuação do Portal Nimbus?</a>
        <p>Ao participar do Portal Nimbus os usuários acumulam pontos, que podem ser trocador por prêmios quando surgir promoções no Portal Nimbus.</p>
        <p>A pontuação é a seguinte: </p>
        <p><ul>
               <li>Cadastrar-se no Portal Nimbus: 100 pontos</li>
               <li>Criar um canal: 50 pontos por canal</li>
               <li>Moderar um canal: 25 pontos por canal</li>
               <li>Criar um tópico: 30 pontos por tópico</li>
               <li>Conquistar seguidores: 1 ponto por seguidor</li>
               <li>Comentários: 1 ponto por comentário</li>
               <li>Bônus - 50 seguidores no canal: 50 pontos por canal</li>
               <li>Bônus - 100 seguidores no canal: 100 pontos por canal</li>
               <li>Penalização - possuir canal ou tópico banido: -500 pontos por ocorrência</li>
            </ul>
        </p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion06">Quais são as funções de cada tipo de moderador?</a>
        <p>Cada moderador pode possuir as seguintes permissões:</p>
        <p><ul>
               <li>Moderar canais: permite o moderador criar, editar, deletar conteúdos dos canal, tópicos, mensagens e usuários que seguem o canal.</li>
               <li>Moderar tópicos: permite o moderador criar,editar e deletar os tópicos existentes no canal.</li>
               <li>Moderar mensagens: permite o moderador receber e responder mensagens enviadas para o canal.</li>
               <li>Moderar usuários: permite o moderador aceitar e deletar os seguidores do canal.</li>
            </ul></p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion07">Como fica minha segurança ao utilizar o portal Nimbus?</a>
        <p>
            Além do cuidado de não pedir nenhum dado pessoal comprometedor, o portal nimbus armazena suas informações de forma segura garantindo maior segurança
            dos dados. Os conteúdos disponibilizados na rede são de responsabilidades dos usuários. Sendo expressamente proibido ofensas, calúnias, entre outros
            usos inadequados do portal Nimbus. Nossos usuários são nossos monitores. Assim, disponibilizamos a opção de reportar usuários, canais e tópicos que
            tenham sido indevidamente criados e/ou utilizados.
        </p>
    </section>

    <section class="sectionFaqQuestion" >
        <a name="sctQuestion08">Caso eu desista da minha conta no portal Nimbus, o que acontece com minhas informações?</a>
        <p>
            Ao cancelar sua conta no portal nimbus, suas informações pessoas serão removidas.
            Meus canais e tópicos: ao remover sua conta, todos os canais e tópicos que não possuírem seguidores ou conteúdo, serão deletados também. Caso exista um canal
            ou tópico que possua muitos seguidores, este será mantido no portal, porém será vinculado ao portal nimbus e não a sua conta. Pois temos o comprometimento
            de não apagar conhecimentos que estejam sendo uteis a comunidade.
        </p>
    </section>

    <section class="sectionFaqQuestion">
        <a name="sctQuestion09">Apaguei um canal mas ele não desapareceu, o que houve?</a>
        <p>
            Calma! Isso é normal. Quando isso acontece, significa que seu canal possui muitos seguidores e seria uma pena apagar conhecimento que a
            comunidade tenha gostado. Assim, caso exista moderadores, o canal será atribuído para o moderador mais velho. Caso contrário, o canal será
            atribuído ao portal nimbus.
        </p>
    </section>

    <section class="sectionFaqQuestion" >
        <a name="sctQuestion10">Como funciona os direitos autorais dos materiais disponibilizados no portal nimbus?</a>
        <p>
            O portal Nimbus apenas fornece espaço para o usuário difundir o conhecimento, e os direitos dos conteúdos é inteiramente do autor dos mesmos.
            Assim, ao publicar algum material no portal o autor deve estar ciente de que se trata de um ambiente de compartilhamento e que outros usuários
            irão ler, modificar e repassar essas informações adquiridas. Cabe ao usuário não publicar conteúdos de direitos autorais reservados, cabendo a
            ele exclusivamente a responsabilidade em caso de plágio.
        </p>
    </section>
</div>