@* NÃO FAZER O MODELO ASSIM! SIGA O EXEMPLO DO LOGIN *@
@model Nimbus.Web.Website.Controllers.HomeModel

@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<h2>Teste Som: 1, 2, 3</h2>
Usuário: @Model.CurrentUser.UserId (@Model.CurrentUser.Name) <br />
Organização: @Model.CurrentOrganization
