@model Nimbus.Web.API.Models.Channel.AbstractChannelAPI
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Cookie: @Model.
</body>
</html>
