@model Nimbus.Web.Website.Models.NewAccountModel

<div class="divPageNewAccount">

    <form id="form1" method="post" action="/newaccount"
          enctype="application/x-www-form-urlencoded">

        <div class="divformNewAccount">
            <p><h1>Cadastre-se já</h1></p><br />
            <input name="FirstName" type="text" placeholder="Nome" style="max-width: 180px; min-width: 172px; float:left; padding: 4px;" required />
            <input name="LastName" type="text" placeholder="Último nome" style="max-width: 180px; min-width: 172px; margin-left: 24px; padding: 4px;" required />
        </div>
        @*
            <div class="divformNewAccount">
                <p>
                    <label for="LastName">Sobrenome</label>
                </p>
                <input name="LastName" type="text" />
            </div>
        *@
        <div class="divformNewAccount">
            <input name="BirthDate" pattern="^(0[1-9]|[12][0-9]|[3][0-1])[/](0[1-9]|[1][0-2])[/](19[3-9][0-9]|20[0-1][1-4])$" type="date" placeholder="Data nascimento (dd/mm/aaaa)" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>

        @*<div class="divformNewAccount">
            <p>
                <label for="Country">País</label>
            </p>
            <input name="Country" type="text" placeholder="País" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>*@

        @*<div class="divformNewAccount">
            <p>
                <label for="State">Estado</label>
            </p>
            <input name="State" type="text" placeholder="Estado" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>

        <div class="divformNewAccount">
            <p>
                <label for="City">Cidade</label>
            </p>
            <input name="City" type="text" placeholder="Cidade" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>*@

        <div class="divformNewAccount">
            <input name="Email" type="email" placeholder="E-mail (exemplo@nimbus.com)" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>

        <div class="divformNewAccount">
            <input name="Password" type="password" onkeyup="validPassword(this.value);" placeholder="Senha" min="6" maxlength="30" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
            <p id="pPowerPass"></p>
        </div>

        <div class="divformNewAccount">
            
            <input name="ConfirmPassword" type="password" placeholder="Confirmar a Senha" min="6" maxlength="30" style="max-width: 384px; min-width: 384px; padding: 4px;" required />
        </div>

        <div>
            <p><input type="checkbox" required />
                <a href="/nimbus/termosdeuso" target="_blank" style="color:#87c240;"><u>Aceito os termos de uso</u></a></p>
        </div>

        <div class="divBtnNewAccount">
            <input type="submit" value="Criar Conta" id="salvar" class="divSaveNewAccount" />
        </div>
    </form>
    @*<p class="pNewAccount">Voltar para a <a href="/Login" title="Inscreva-se">Página Inicial</a></p>*@
</div>