@model Nimbus.Web.Website.Models.NewAccountModel
<h1>NewAccount</h1>

<form id="form1" method="post" action="/newaccount"
    enctype="application/x-www-form-urlencoded">

    <label for="FirstName">FirstName</label>
    <input name="FirstName" type="text" /> <br />

    <label for="LastName">LastName</label>
    <input name="LastName" type="text" /><br />

    <label for="BirthDate">BirthDate</label>
    <input name="BirthDate" type="text" /><br />

    <label for="Country">Country</label>
    <input name="Country" type="text" /><br />

    <label for="City">City</label>
    <input name="City" type="text" /><br />

    <label for="State">State</label>
    <input name="State" type="text" /><br />

    <label for="Email">Email</label>
    <input name="Email" type="text" /><br />

    <label for="Password">Password</label>
    <input name="Password" type="text" /><br />

    <label for="ConfirmPassword">ConfirmPassword</label>
    <input name="ConfirmPassword" type="text" /><br />

    <input type="submit" value="Submit" />

</form>
