@model Nimbus.Web.Website.Controllers.NimbusController

@{
    ViewBag.Title = "Página não encontrada";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}

<div style="margin:auto;width:644px;">
    <img src="/images/utils/pagenotfound.png" />
</div>