@model Nimbus.Web.Website.Controllers.NimbusController

@{
    ViewBag.Title = "Erro 500";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}

<div style="margin:auto;width:644px; padding-top:30px;">
    <img src="/images/utils/erro.png" />
</div>