@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<div class="post_m">
    <div class="postHeImg_m">
            <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class="post_Right_m">
        <nav class="postHeaderLeft_m">
            <ul class="sbs">
                <li>Usuário1</li>
                <li>Título</li>
            </ul>
        </nav>
        <nav class="postHeaderRight_m">
            <ul class="sbs">
                <li>04/08/2013</li>
                <li>23:23</li>
            </ul>
        </nav>
        <div class="postContent_m">
            <p>blablabl ablab lab lablab lablab lablabla blablablab lablabl ablabla
               blabl ablablab lablablab labla blabla blab labla blablabl a blablabla
               blablab lab lablabl a bl ablablabl ablabl abla  blabla blablab lablabla
               blab lablablabla blabl ab lablablabla blablab lablab lab la blablabla
               blablab lablablabla blablab lablablab labla blabla blabla blablabla
               blablabla bl abla blab lablabl ablabla bla bla bl abla blabla blablabla
               blabl abla blablablab  lablabl ablabl abl ablablab la blab lablablabla
            </p>
        </div>
    </div>
</div>