@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

@*Imagem e texto*@

<div class="Post_g">
    <div class="PostHeader_g">
        <h1>Nome do Tópico</h1>
        <div class="PostHeImg_g">
            <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
        </div>
    </div>
    <div class="PostContent_g">
        <p>blablabl ablab lab lablab lablab lablabla blablablab lablabl ablabla
           blabl ablablab lablablab labla blabla blab labla blablabl a blablabla
           blablab lab lablabl a bl ablablabl ablabl abla  blabla blablab lablabla
           blab lablablabla blabl ab lablablabla blablab lablab lab la blablabla
           blablab lablablabla blablab lablablab labla blabla blabla blablabla
           blablabla bl abla blab lablabl ablabla bla bla bl abla blabla blablabla
           blabl abla blablablab  lablabl ablabl abl ablablab la blab lablablabla
        </p>
    </div>
    <div class ="PostFooter_g">
        <div class="PostFoBoxL_g">
            <p>Ler mais tarde</p>
        </div>
        <div class="PostFoBoxR_g">
            <p>Link</p>
        </div>
    </div>
</div>


@*Apenas Imagem*@

<div class="Post_g">
    <div class="PostHeader-img_g">
        <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class ="PostFooter_g">
        <p>Saber mais</p>
    </div>
</div>