@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<div class="Post_att">
    <div class="PostHeImg_att">
            <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class="Post_Right_att">
        <div class="PostContent_att">
            <p>Seu índice de participação subiu 20%.
            </p>
        </div>
        <nav class="PostFooterLeft_att">
            <ul class="sbs">
                <li>04/08/2013</li>
                <li>23:23</li>
            </ul>
        </nav>
        <nav class="PostFooterRight_att">
            <ul class="sbs">
                <li>Aceitar</li>
                <li>Recusar</li>
            </ul>
        </nav>
    </div>
</div>