@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<div class="tabContent">
    <nav class="topMess">
        <ul class="sbs">
            <li>Recebidas</li>
            <li>Enviadas</li>
        </ul>
    </nav>

    <div class="messContent">
        @*PostsMessages*@
    </div>
</div>