@model Nimbus.Web.Website.Models.LoginModel



<div class="WrapperUser">
    <nav class="ProfTopBar">
        <ul class="sbs">
		    <li>Atualizações</li>
		    <li>Meus Canais</li>
		    <li>Favoritos</li>
		    <li>Marcados</li>
		    <li>Mensagens</li>		
	    </ul>
    </nav>

    @*Tab*@

</div>