@model Nimbus.Web.Website.Models.UserProfileModel

<div class="wrapperUser">
    <nav class="cont-right">
		<ul class="sbs">
			<li>
				<div class="c-lista">
					<div class="ret1"></div>
					<div class="ret2"></div>
				</div>
			</li>
			<li>
				<div class="c-grade">
					<div class="quad1"></div>
					<div class="quad2"></div>
					<div class="quad3"></div>
					<div class="quad4"></div>
				</div>
			</li>
		</ul>
	</nav>
    <div class="myChannels">
        <h1>Meus Canais</h1>
        @*PostsGrade/PostsLista*@
    </div>
    
    <div class="modChannels">
        <h1>Canais Moderados</h1>
        @*PostsGrade/PostsLista*@
    </div>
</div>