@model Nimbus.Web.Website.Models.UserProfileModel

<div class="wrapperUser">
  
    <div class="myChannels">
        <h1>Meus Canais</h1>
        @*PostsGrade/PostsLista*@       
            @foreach (var item in Model.MyChannels)
            {
                @*Imagem*@
                <div id="divChannel">
                    <a href="/channel/index/@item.Id">
                        <div id="headerChannel">
                            <h1>@item.Name</h1>
                            <img src="@item.ImgUrl" id="imgChannel" alt="blabla" title="blabla">
                        </div>
                    </a>
                </div>

            }
        @if (Model.MyChannels.Count() <= 0)
        {
            <p>Nenhum canal criado.</p>
        }
    </div>
    
    <div class="modChannels">
        <h1>Canais Moderados</h1>
        @*PostsGrade/PostsLista*@
            @foreach (var item in Model.ChannelMannager)
            {
                @*Imagem*@
                <div id="divChannel">
                    <a href="/channel/index/@item.Id">
                        <div id="headerChannel">
                            <h1>@item.Name</h1>
                            <img src="@item.ImgUrl" id="imgChannel" alt="blabla" title="blabla">
                        </div>
                    </a>
                </div>

            }
        @if (Model.ChannelMannager.Count() <= 0)
        {
            <p>Nenhum canal sendo moderado.</p> 
        }
    </div>
</div>