@model Nimbus.Web.Website.Models.ResetPasswordModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}


<div>
    <form id="formResetPass" onsubmit="return false;">
        <p>
            Nova senha:
            <input id="txtNewPass" type="password" min="6" required />
        </p>
        <p>
            Confirmar senha:
            <input id="txtConfirPass" type="password" min="6" required />
        </p>
        <input type="hidden" value="@Model.Token" id="hdnToken"/>
        <input type="submit" value="Salvar" onclick="ajaxResetPassword('txtNewPass', 'txtConfirPass');" />
    </form>
</div>