@model Nimbus.Web.Website.Controllers.NimbusController
@{
    ViewBag.Title = "Termos de uso";
    Layout = "~/Website/Views/Shared/_LayoutPublic.cshtml";
}


<div id="divTermosDeUso">
    <h1> Termos de uso </h1>

    <section class="sectionTermosDeUso">
        <p class="pTitleTermosDeUso">Declaração de direitos e deveres</p>
        <p class="pTextTermosDeUso">
            Esta declaração de direitos e deveres  compõe nossos termos de uso dos serviços disponibilizados no Portal Nimbus.
            Para utilizar o Portal Nimbus e todas suas funcionalidades, você concorda com esta Declaração de direitos e deveres.
        </p>
    </section>

    <section class="sectionTermosDeUso">
        <p class="pTitleTermosDeUso">1-Termos gerais</p>
        <p> O usuário declara estar ciente que para a utilização dos serviços disponíveis no Portal Nimbus, deverá cumprir com os as regras abaixo:</p>
        <p>
           <ol start="1" style="list-style-type:decimal; margin-left:30px;">
                <li>
                    Você deve ter 18 anos ou mais para utilizar os serviços. Caso você seja menor de idade, seus pais e/ou responsáveis legais devem ler e
                    consentir com este termo de uso, sendo eles responsáveis por seus atos.
                </li>
                <li>Você não deve criar mais de uma conta.</li>
                <li>Caso você seja banido do Portal Nimbus, você não poderá criar outra conta sem nossa permissão.</li>
                <li>Você não deve compartilhar sua senha e login com outras pessoas.</li>
                <li>Você não deve utilizar os serviços do Portal Nimbus para fins ilegais, conteúdos pornográficos ou difamatórios.</li>
                <li>Você não deve utilizar de materiais e/ou linguagem grosseira ou ofensiva em nenhum local do Portal Nimbus.</li>
                <li>Você não deve publicar conteúdos com apologias ou incitação ao preconceito e atividades consideradas ilegais.</li>
                <li>Você não deve publicar conteúdos que violem quaisquer leis municipal, estadual ou federal do Brasil e/ou dos Estados Unidos da América.</li>
                <li>Você não deve publicar conteúdos sob proteção autoral.</li>
                <li>Você não deve publicar conteúdos de outros usuários e/ou outras pessoas, a não ser que você possua autorização para tanto.</li>
                <li>Você concorda que você é o único responsável por seus atos, conta de acesso e conteúdos publicados no Portal Nimbus, não tendo o Portal Nimbus nenhuma responsabilidade legal sobre seus atos.</li>
                <li>O Portal Nimbus é um serviço de hospedagem e não possui direitos e responsabilidades sobre os conteúdos disponibilizados no sistema e seus direitos autorais.</li>
                <li>Você autoriza o Portal Nimbus a distribuir conteúdos para outros usuários por tempo indeterminado, sem qualquer ônus ou outras obrigações ao autor, dono do canal e/ou outros envolvidos.</li>
                <li>O Portal Nimbus se reserva no direito de modificar as regras acima a qualquer momento.</li>
                <li>O Portal Nimbus não se compromete a manter um backup do conteúdo publicado pelos usuários do serviço.</li>
                <li>O Portal Nimbus se reserva no direito de retirar do ar qualquer conteúdo considerado abusivo e contrário às regras deste termo de uso.</li>
            </ol>
        </p></section>

    <section class="sectionTermosDeUso">
        <p class="pTitleTermosDeUso">2- Privacidade</p>
        <p>
            O Portal Nimbus preza pela privacidade dos usuários.  Todas as informações são armazenadas no banco de dados do Portal Nimbus e mantido com acesso restrito e
            confidencial, disponível apenas para uso interno.
        <p>O Portal Nimbus se compromete a não comercializar as informações pessoais armazenadas no sistema.</p>
        <p style="color: #2b2d2e; font-weight:bold;">Canal:</p>
        <p>Caso deseje remover um canal de sua criação, serão avaliados e considerados os seguintes critérios:</p>
        <ol start="1" style="list-style-type:decimal; margin-left:30px;">
            <li>Canal sem seguidores e/ou sem tópicos: neste caso, o canal é removido e desaparece da plataforma.</li>
            <li>
                Canal com seguidores e sem moderadores: neste caso, o Portal Nimbus passa a ser dono do canal, mantendo o autor com o seu nome em todos os tópicos
                criados por você, sendo mantido visível aos usuários que já são seguidores do canal, não permitindo novos seguidores.
            </li>
            <li>
                Canal com seguidores e com moderadores: neste caso, o dono do canal passa a ser o moderador mais antigo, mantendo o autor com o seu nome em todos
                os tópicos criados por você.
            </li>
        </ol>
    </section>

    <section class="sectionTermosDeUso">
        <p class="pTitleTermosDeUso">3- Segurança</p>
        <p>Os dados pessoais sensíveis, como a senha, de sua conta no Portal Nimbus, estão protegidos por criptografia, dando-lhe maior segurança.</p>
        <p>
            O Portal Nimbus é um sistema de hospedagem de conteúdo de caráter informativo que visa à distribuição de conhecimentos. Devido à arquitetura
            do sistema todo o conteúdo e informações pessoais estão armazenados em servidores localizados nos Estados Unidos da América, sujeitos as leis locais daquele país.
        </p>
    </section>

    <section class="sectionTermosDeUso">
        <p class="pTitleTermosDeUso">4- Anúncios e anunciantes</p>
        <p>
            O Portal Nimbus se reserva no direito de optar por trocar a capa de alguns canais por um banner de parceiros ou anunciantes sem aviso prévio e
            nenhuma obrigação financeira e/ou legal com o usuário.
        </p>
    </section>
</div>