@model Nimbus.Web.Website.Models.TopicModel

<div id="divCurrent_@Model.CurrentTopic.TopicType">
    <iframe id="iFrameVideo" src="@Model.CurrentTopic.UrlVideo" width="560" height="315" frameborder="0"  allowfullscreen></iframe>
</div>

<div id="divRenderEdit" style="display:none;">
    @RenderPage("~/Website/Views/InfoToEditTopic.cshtml")
</div>

