@model Nimbus.Web.Website.Models.TopicModel

<div id="divCurrent_@Model.CurrentTopic.TopicType">
    @(new HtmlString(Model.CurrentTopic.Text))
</div>


<div id="divRenderEdit" style="display:none;">
    @RenderPage("~/Website/Views/InfoToEditTopic.cshtml")
</div>