@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<nav class="TopMess">
    <ul class="sbs">
        <li>Recebidas</li>
        <li>Enviadas</li>
    </ul>
</nav>