@using System.Collections.Generic;
@using Nimbus.Model.Bags;
@using Nimbus.Model.ORM;
@model List<TopicBag>
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

@Scripts.Render("~/Scripts/ViewTopicScripts.js")

<div class="content-top">
    <div class="cont-left">
        <h1>Top Topics</h1>
    </div>
    <div >
        <label class="custom-select">
            <select id="slcCategoryTop" style="width:200px;" onchange="getTopTopics();">
                <option value="0">Todas as categorias</option>
                @foreach (var item in (List<Category>)ViewBag.lstCat)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>
    </div>
</div>

@*Miniaturas dos topicos*@

<div id="divTrendingTopics" style="display:block;">
    @*depois vai ser carregado por js + ajax, mas para facilitar, motando o modelo aqui*@
    @if (Model.Count() > 0) { 
        foreach (var item in Model)
        {
            Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
        }
    }
    else
    { 
        <p>Até o momento, nenhum tópico encontrou para o ranking.</p>
    }
</div>

@*Miniaturas dos topicos*@