@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<div class="TrendTopPost">
    <div class="TrendTopPostHeader">
        <h1>Nome do Tópico</h1>
    </div>
    <div class="TrendTopPostContent">
        <p>blablablablabla</p>
    </div>
    <div class ="TrendTopPostFooter">
        <div class="TrendTopPostFoBox">
            <p>Ler mais tarde</p>
        </div>
        <div class="TrendTopPostFoBox">
            <p>Link</p>
        </div>
    </div>
</div>