@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<!-- Fazer com que só apareça um estilo de cada vez. Grade ou Lista -->

<!-- Grade -->

<div class="TrendTopPost_g">
    <div class="TrendTopPostHeader_g">
        <h1>Nome do Tópico</h1>
        <div class="TrendTopPostHeImg_g">
            <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
        </div>
    </div>
    <div class="TrendTopPostContent_g">
        <p>blablabl ablab lab lablab lablab lablabla blablablab lablabl ablabla
           blabl ablablab lablablab labla blabla blab labla blablabl a blablabla
           blablab lab lablabl a bl ablablabl ablabl abla  blabla blablab lablabla
           blab lablablabla blabl ab lablablabla blablab lablab lab la blablabla
           blablab lablablabla blablab lablablab labla blabla blabla blablabla
           blablabla bl abla blab lablabl ablabla bla bla bl abla blabla blablabla
           blabl abla blablablab  lablabl ablabl abl ablablab la blab lablablabla
        </p>
    </div>
    <div class ="TrendTopPostFooter_g">
        <div class="TrendTopPostFoBoxL_g">
            <p>Ler mais tarde</p>
        </div>
        <div class="TrendTopPostFoBoxR_g">
            <p>Link</p>
        </div>
    </div>
</div>

<div class="TrendTopPost_g">
    <div class="TrendTopPostHeader-img_g">
        <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class ="TrendTopPostFooter_g">
        <p>Saber mais</p>
    </div>
</div>

<!-- fim -->


@*<!-- Lista -->

<div class="TrendTopPost_l">
    <div class="TrendTopPostHeImg_l">
            <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class="TrendPost_Right_l">
        <div class="TrendTopPostHeader_l">
            <h1>Nome do Tópico</h1>
        </div>
        <div class="TrendTopPostContent_l">
            <p>blablabl ablab lab lablab lablab lablabla blablablab lablabl ablabla
               blabl ablablab lablablab labla blabla blab labla blablabl a blablabla
               blablab lab lablabl a bl ablablabl ablabl abla  blabla blablab lablabla
               blab lablablabla blabl ab lablablabla blablab lablab lab la blablabla
               blablab lablablabla blablab lablablab labla blabla blabla blablabla
               blablabla bl abla blab lablabl ablabla bla bla bl abla blabla blablabla
               blabl abla blablablab  lablabl ablabl abl ablablab la blab lablablabla
            </p>
        </div>
        <div class ="TrendTopPostFooter_l">
            <div class="TrendTopPostFoBoxL_l">
                <p>Ler mais tarde</p>
            </div>
            <div class="TrendTopPostFoBoxR_l">
                <p>Link</p>
            </div>
        </div>
    </div>
</div>

<div class="TrendTopPost_l">
    <div class="TrendTopPostHeader-img_l">
        <!-- <img src="blabla.png" alt="blabla" title="blabla"> -->
    </div>
    <div class ="TrendTopPostFooter_l">
        <p>Saber mais</p>
    </div>
</div>

<!-- fim -->*@