@model Nimbus.Web.Website.Models.LoginModel
@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

<div class="ProBar">
    <div class="ProfileImg">
        <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
    </div>

    <div class="ProfileEdit">
        <p>Edit</p>
    </div>

    <div class="AboutUser">
        <h1>Nome do Usuário</h1>
        <p>Idade</p>
        <p>Local</p>
        <p>Profissão</p>
        <p>Interesses</p>
        <p>Experiências</p>
        <p>Outras informações</p>

        <p class="AboutUser-other">bla bal abl ba lab alba lbalab alba lab albalba la alba lbalabla alb</p>
    </div>

    <div class="SendMessage">
        <p>Enviar Mensagem</p>
    </div>

    <div class="Participation">
        <h1>Participação</h1>
        <p>20%</p>
    </div>

    <div class="ChanPaid">
        <h1>Canais Pagos</h1>
        <div class="Channels">
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
            <div class="ChanPaidImg">
                <!-- <img src="blablabla.png" alt="blabla" title="blabla" /> -->
            </div>
        </div>
    </div>

</div>