<div class="divNotification" style="display:block;">
    @*para cada item da lista que ele recber//TODO*@
    <div>
        <img id="imgNotification" src="#" />
    </div>
    <div id="attChoice">
        @*<button id="btnAccept" onclick="">Aceitar</button>*@
        <div id="btnAccept">
            <p>Aceitar</p>
        </div>

        @*<button id="btnDecline" onclick="">Recusar</button>*@
        <div id="btnAccept">
            <p>Recusar</p>
        </div>
    </div>
    <p id="timeNotification">
        @*hora x     data x*@
        00:00 - 12:12
    </p>
    <p id="txtNotification">
        texto generico
    </p>
</div>