/*Padrões*/
.cpointer {
    cursor:pointer;
}
/**/
/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:             0;
	padding:            0;
	border:             0;
	font-size:          1em;
	font:               inherit;
	vertical-align:     baseline;
}
/* HTML5 display-role reset for older browsers */
html, body {
    height:             100%;
    Padding:            0;
    Margin:             0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:            block;
}
body {
	line-height:        1;
}
ol, ul {
	list-style:         none;
}
blockquote, q {
	quotes:             none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:            '';
	content:            none;
}
table {
	border-collapse:    collapse;
	border-spacing:     0;
}
/* === End of CSS RESET === */

body {
	background:         #FFFFFF;
	background-size:    auto;
	color:              #000000;
	font-size:          small/*1em*/;
	font-family:        tahoma, sans-serif;
	/*overflow:           auto;*/
	width:              100%;
	height:             auto;
    line-height:        normal;
}


h1, h2, em {
	color:              #000000;
	text-decoration:    none;
}

::selection {
	color:              #FFFFFF;
	background:         #87c240;
}

h1 {

	font-size:          1.7em;
	text-align:         left;
}

p {
	color:              #000000;
	text-align:         justify;
}

a, a:hover, a:visited {
    text-decoration:    none;
    color:              #FFFFFF;
}
/*------------------ começo header --------------------*/

#wrap {
    min-height:         100%;
}

#header {
    background:         #2b2d2e;
	width:              100%;
	height:             48px;
	top:                0px;
	left:               0px;
    z-index:            9999;
    margin:             0 auto;
}

.container {  
	width:              960px;
	height:             48px;
	margin:             0 auto;
	clear:              both;
	line-height:        3.5em;
}

nav.logo {
	width:              192px;
	height:             48px;
	float:              left;
}

div.userlogo {
	margin-top:         5px;
	margin-left:        30px;
	margin-right:       10px;
    height:             35px;
    width:              35px;
    border-radius:      100%;
    background-color:   #87c240;
    float:              left;
}

.logo h1{
    color:              #FFFFFF;
}
nav.center {
	font-weight:        bold;
	left:               240px;
	display:            inline;
}

.center, ul.sbs, ul.sbs li {
    color:              #FFFFFF;
	text-align:         center;
	display:            inline-block;
	float:              left;
}

.center li{
    border-left:        1px solid #4b4b4b;
	width:              100px;
    height:             48px;
    color:              #FFFFFF;
    font-weight:        normal;
}

.center li:last-child {
    border-right:       1px solid #4b4b4b;
}

.center li:active, .center li:hover {
    background:         #2b2d2e;
    border-bottom:      5px solid #87c240;
    height:             43px;
    cursor:             pointer;
}

nav.right {
	display:            inline-block;
	float:              left;
	margin-left:        180px;
}

div.userpic {
	margin-top:         5px;
	margin-left:        30px;
	margin-right:       10px;
    height:             35px;
    width:              35px;/*
    border:             1px solid #BE1E2D;
    border-radius:      100%;*/
    background-color:   #FFFFFF;
    float:              left;
}

h2.userName{
    font-size:          1.1em;
    color:              #828282;
    font-weight:        normal;
}

/*
div.exitbutton {
	display:            inline-block;
	text-align:         center;
	font-weight:        bold;
	float:              left;
	margin-top:         10px;
	line-height:        15px;
    height:             15px;
    width:              15px;
    border-radius:      100%;
    background-color:   #87c240;
}
*/


.exit{
	display:            inline-block;
	text-align:         center;
	float:              left;
	margin-top:         8px;
    margin-left:        10px;
	line-height:        15px;   
    color:              #87c240;
}
.exit:hover{
	font-weight:        bold; 
    color:              #87c240;
}

/*------------------ fim header --------------------*/

/*------------------ começo middle --------------------*/

.wrapper {
	position:           absolute;
	top:                48px;
	left:               0px;
    width:              100%;
    min-height:         100%;
    height:             auto !important;
    height:             100%;
    padding-bottom:     200px;
}

.container-body {
	width:              960px;
	margin:             0 auto;
	clear:              both;
	line-height:        2em;/*
    float:              left;*/
}

.middle-body {
/*	margin:             24px;*/
}

/*------------------ Trending Topics topo --------------------*/

.content-top {
	margin-top:         72px;
    margin-bottom:      4px;
	height:             24px;
}

.cont-left {
	float:              left;
}

.cont-left h1 {
	font-size:          1.5em;
}

.cont-right {
	float:              right;
}

.cont-right li {
	margin-left:        5px;
	margin-right:       5px;
}

select.sel{
	background:         transparent;
	height:             24px;
	width:              168px;
	padding-left:       10px;
	padding-right:      10px;
	border:             1px solid #BE1E2D;
	border-radius:      10px;
	line-height:        1em;
	font-size:          0.8em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius:      10px;
}

.c-lista {
    margin-left:        30px;
	margin-top:         8px;
}

.ret1, .ret2 {
	margin:             2px;
	background-color:   none;
	height:             5px;
	width:              15px;
	border:             1px solid #87c240;
}

.c-grade {
	margin-top:         8px;
	width:              24px;
	height:             24px;
}

.quad1, .quad2, .quad3, .quad4 {
	position:           absolute;
	background-color:   #87c240;
	height:             5px;
	width:              5px;
	border:             1px solid #87c240;
}

.quad1 {
	margin-top:         0;
	margin-left:        0;
}

.quad2 {
	margin-top:         0;
	margin-left:        8px;
}

.quad3 {
	margin-top:         8px;
	margin-left:        0;
}

.quad4 {
	margin-top:         8px;
	margin-left:        8px;
}

/*------------------ Trending Topics fim --------------------*/

/*------------------ Posts Grade --------------------*/

div.post_g {
    background:         #FFFFFF;
    position:           relative;
    margin:             20px;
    width:              184px;
    height:             269px;
    float:              left;
}

div.postHeader_g {
    width:              182px;
    height:             129px;
    border:             1px solid #BE1E2D;
}

.postHeader_g h1 {
    padding-left:       10px;
    font-size:          small;
    font-weight:        bold;
}

div.postImg_g {
    background:         #FFFFFF;
    width:              180px;
    height:             101px;
    border:             1px solid #BE1E2D;
}

/* apenas imagem / sem texto
div.postHeader-img_g {
    background:         #FFFFFF;
    width:              182px;
    height:             129px;
    border:             1px solid #BE1E2D;
}*/

div.postContent_g {
    margin-top:         5px;
    margin-bottom:      5px;
    height:             93px;
    width:              180px;
    padding-top:        5px;
    padding-bottom:     5px;
    overflow:           hidden; /* Temporário. Fazer caber X caracteres ali D: */
}

.postContent_g p {
    text-align:         justify;
    font-size:          small;
    line-height:        normal;
}

div.postFooter_g {
    width:              180px;
    height:             24px;
    border:             1px solid #BE1E2D;
}

div.postFoBoxL_g, div.postFoBoxR_g {
    width:              89px;
    height:             24px;
    float:              left;
}

.postFooter_g p {
    text-align:         center;
    font-size:          90%;
}

div.postFoBoxR_g {
    border-left:        1px solid #BE1E2D;
}

/*------------------ Posts Lista --------------------*/

div.post_l {
    background:         #FFFFFF;
    margin-bottom:      40px;
    width:              792px;
    height:             148px;
}

div.post_Right_l {
    margin-left:        169px;
    width:              624px;
    height:             96px;
    position:           absolute;
    float:              left;
}

div.postImg_l {
    background:         #FFFFFF;
    width:              180px;
    height:             101px;
    border:             1px solid #BE1E2D;
}

div.postHeader-img_l {
    background:         url();
    width:              600px;
    height:             106px;
    border:             1px solid #BE1E2D;
}

div.postHeader_l {
    width:              auto;
    height:             24px;
    border:             1px solid #BE1E2D;
}

.postHeader_l h1 {
    padding-left:       10px;
    font-size:          small;
    font-weight:        bold;
}

div.postContent_l {
    margin-right:       5px;
    margin-left:        5px;
    height:             46px;
    width:              auto;
    padding-top:        5px;
    padding-bottom:     5px;
    overflow:           hidden; /* Temporário. Fazer caber X caracteres ali D: */
}

.postContent_l p {
    text-align:         justify;
    font-size:          small;
    line-height:        normal;
}

div.postFooter_l {
    width:              auto;
    height:             24px;
    border:             1px solid #BE1E2D;
}

div.postFoBoxL_l, div.postFoBoxR_l {
    width:              310px;
    height:             24px;
    float:              left;
}

.postFooter_l p {
    text-align:         center;
    font-size:          90%;
}

div.postFoBoxR_l {
    border-left:        1px solid #BE1E2D;
}

/*------------------ User Profile --------------------*/
h1.userNProfBar {
    color:              #2b2d2e;
    font-size:          2em;
    font-weight:        normal;
}

div.wrapperUserProfile {
    padding:            4px 24px 24px 24px;
    width:              912px;
    height:             800px;
}

div.proBar {
    background:         #f1f2f2;
    padding:            24px;
    margin-left:        24px;
    float:              left;
    width:              202px;
    height:             100%;
    line-height:        20px;
}

.proBar h1 {
    font-size:          115%;
    font-weight:        bold;
}

div.profileImg {
    background:         #FFFFFF;
    width:              200px;
    height:             200px;
    border:             4px solid #2b2d2e;
    margin-bottom:      15px;
}

div#profileEdit {
    margin-top:         5px;
    margin-left:        180px;
    position:           absolute;
    width:              24px;
    height:             10px;
    font-size:          xx-small;
	line-height:        10px;
    background:         #2b2d2e;
    display:            inline-block;
}

#profileEdit p {
    text-align:         center;
    color:              #f1f2f2;
 }

.sendMessage {
    margin:             0 auto;
    width:              120px;
    height:             30px;
    line-height:        2em;
    background:         #2b2d2e;
    text-align:         center;
}

.sendMessage p, .sendMessage a{
    color:              #FFFFFF;
    text-align:         center;
    font-weight:        normal;
    font-size:          1em;
}

.sendMessage p:hover, .sendMessage a:hover, .sendMessage a:active {
    color:              #87c240;
    cursor:             pointer;
}

div.aboutUser {
    margin-bottom:      24px;
}

.aboutUser p, .aboutUser h1{
    text-align:         left;
}

p.aboutUser-other {
    margin-top:         5px;
    margin-bottom:      5px;
}

.reportUser {
    float:right;
    cursor:pointer;
    margin-right:42px;
    width:120px;
    height:30px;
    line-height: 2em;
    text-align: center;
    background: #2b2d2e;
}

.reportUser p {
    text-align: center;
    color: #FFFFFF;
    }

.reportUser p:hover, .reportUser a:hover, .reportUser a:active {
    color:              #87c240;
    cursor:             pointer;
}

div.participation {
    margin-left:        10px;
    margin-bottom:      24px;
    margin-top:         24px;
}

.participation h1 {
    border-bottom:      1px solid #87c240;
}

.participation p {
    margin-top:         30px;
    margin-bottom:      30px;
    text-align:         center;
    font-size:          3em;
    line-height:        1em;
    color:              #87c240;
}

div.chanPaid {
    margin-left:        10px;
    margin-bottom:      24px;
    margin-top:         24px;}

.chanPaid h1 {
    border-bottom:      1px solid #87c240;
    margin-bottom:      10px;
}

div.channels {
    margin:             0 auto;
}

div.chanPaidImg {
    background:         #FFFFFF;
    width:              40px;
    height:             40px;
    background:         #000000;
    margin:             10px;
    float:              left;
}

/*------------------ Private Profile - Top Bar --------------------*/

nav.profTopBar {
    margin-top:         24px;
    width:              644px;
    height:             39px;
    background:         #2b2d2e;
    font-weight:        normal;
    color:              #FFFFFF;
}

.profTopBar li {
    width:              107px;
    text-align:         center;
    line-height:        3em;
}


.chanTopBar li:last-child {
    width:              109px;
}

.profTopBar p {
    text-align:         center;
    width:              107px;
    height:             39px;
    font-weight:        normal;
    color:              #FFFFFF;
}

.profTopBar p:hover {
    font-weight:        normal;
    color:              #87c240;
}

.profTopBar li:hover {
    background:         #2b2d2e;
    border-bottom:      2px solid #87c240;
    height:             36px;
    color:              #87c240;
    cursor:             pointer;
}

/*Tab*/
div.wrapperUser {
    float:              left;
    width:              644px;
    height:             100%;
    min-height:         480px;
}

div.tabContent {
    margin-left:        5px;
    margin-right:       5px;
}

/*------------------ Private Profile - Messages --------------------*/
nav.topMess {
    margin:             0 auto;
    width:              300px;
    height:             24px;
    border:             1px solid #BE1E2D;
    border-radius:      12px;
}

div.messContent {
    margin:             0 auto;
}

/*Content*/
div.post_m {
    margin-bottom:      30px;
    width:              456px;
    height:             60px;
    border:             1px solid #BE1E2D;
}

div.post_Right_m {
    margin-left:        60px;
    width:              396px;
    height:             60px;
    position:           absolute;
    float:              left;
}

div.postHeImg_m {
    background:         url();
    width:              60px;
    height:             60px;
    border:             1px solid #BE1E2D;
    float:              left;
}

nav.postHeaderLeft_m {
    width:              auto;
    height:             24px;
    float:              left;
}

nav.postHeaderRight_m {
    width:              auto;
    height:             24px;
    float:              right;
    display:            inline-block;
    float:              right;
}

.postHeaderRight_m li, .postHeaderLeft_m li {
    padding-left:       10px;
    padding-right:      10px;
    font-size:          small;
    font-weight:        bold;
}

div.postContent_m {
    margin-top:         40px;
    margin-right:       5px;
    margin-left:        10px;
    height:             1em;
    width:              200px;
    overflow:           hidden; /* Temporário. Fazer caber X caracteres ali D: */
}

.postContent_m p {
    text-align:         left;
    font-size:          small;
    line-height:        normal;
}

/*------------------ Private Profile - Att --------------------*/

.divNotification {
    background:         #d1d3d4;
    margin-bottom:      20px;
    margin-top:         20px;
    margin-left:        10px;
    width:              590px;
    height:             70px;
    border-bottom:      2px solid #87c240;
}

.imgNotification {
    background:         #bcbec0;
    width:              60px;
    height:             60px;
    float:              left;
    margin:             5px;
}

p.timeNotification {
    margin-right:       5px;
    float:              right;
    font-size:          xx-small;
}

p.txtNotification {
    height:             24px;
    padding-top:        24px;
    font-size:           medium;
    overflow:            hidden;
}

p.txtNotification a {
    color:              #87c240;
}

div.attChoice {
    margin-top:         38px;
    margin-left:        408px;
    position:           absolute;
    display:            inline-block;
}

div.btnAccept{
    margin-left:        5px;
    float:              left;
    width:              48px;
    height:             24px;
    font-size:          x-small;
    background:         #2b2d2e;
}

div.btnAccept p{
    color:              #FFFFFF;
    text-align:         center;
}

div.btnAccept:hover, div.btnAccept:hover p {
    color:              #87c240;
    cursor:             pointer;
}

/*------------------ PrivateProfileTopBar New Channel & ChannelPrivateTopBar New Topic ----------------*/
div#divNewChannel, div#divNewTopic {
    margin:             24px;
    width:              596px;
}

div.divformNewChannel {
    background:         #f1f2f2;
    width:              408px;
    padding:            12px;
    border-bottom:      1px solid #d1d3d4;
}

div.divBtnNewChannel {
    margin-left:        192px;
    width:              288px;
    height:             26px;
    clear:              both;
}

input[type=submit].divCnclNewChannel, button.divCnclNewChannel, input[type=submit].divSaveNewChannel, button.divSaveNewChannel {
    float:              left;
    background:         #2b2d2e;
    width:              120px;
    height:             26px;
    cursor:             pointer;
    border:             none;
    color:              #FFFFFF;
}

input[type=submit].divSaveNewChannel, button.divSaveNewChannel {
    background:         #87c240;
}

input[type=submit].divCnclNewChannel:hover, button.divCnclNewChannel:hover  {
    color:              #87c240;
    cursor:             pointer;
}

input[type=submit].divSaveNewChannel:hover, button.divSaveNewChannel:hover {
    color:              #2b2d2e;
    cursor:             pointer;
}

/*Novo Tópico*/
label#lblVideo, label#lblText, label#lblDiscussion, label#lblExam {
    padding:            4px;
    background:         #d1d3d4;
    color:              #2b2d2e;
    margin-left:        24px;
    cursor:             pointer;
}

button#bntAddItem {
    margin-left:        250px;
    background:         #d1d3d4;
    color:              #2b2d2e;
    height:             26px;
    width:              100px;
    border:             none;
    cursor:             pointer;
}

ul.ulPerg1 {
    margin:             0 0 0 24px;
}
/*------------------ Private Profile - fim Att --------------------*/

/*------------------ Post Canais começo --------------------*/

div#divChannel {
    float:             left;
    margin:            24px 0 0 24px;
    width:             180px;
    height:            150px;
    background:        #d1d3d4;
}

div#headerChannel{
    width:             180px;
    height:            50px;
    background:        #2b2d2e;
}

#headerChannel h1 {
    line-height:       4em;
    text-align:        center;
    color:             #FFFFFF;
    font-size:         small;
    height:            50px;
}

#imgChannel {
    background:         #bcbec0;
    width:              180px;
    height:             100px;
}

.imgStarGreen {
    background-image: url(/images/Utils/starv.png);
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    cursor:pointer;
    float:left;
}

.imgStarGray {
    background-image: url(/images/Utils/starc.png);
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    cursor:pointer;
    float:left;
}


/*------------------ Post Canais fim --------------------*/
/*------------------ Post Tópicos começo --------------------*/

#linkLike, #linkUnLike{
    cursor:pointer;
}


div.divTopic-grade {
    float:             left;
    margin:            24px 0 0 24px;
    width:             180px;
    height:            auto;
    background:        none;
}

.divTopic-grade a, .divTopic-grade a:hover, .divTopic-grade a:active, .headerTopic-grade h1 {
    color:            #FFFFFF;
    font-style:       none;
    line-height:      4em;
    text-align:       center;
    color:            #FFFFFF;
    font-size:        small;
    height:           50px;
    text-decoration:  none;
    cursor:           pointer;
}

div.headerTopic-grade {
    width:             180px;
    height:            150px;
    background:        #2b2d2e;
}

.imgTopic-grade {
    background:         #4fbd86;
    width:              180px;
    height:             100px;
}

p.contentTopic-grade{
    line-height:        1.1em;
    background:         #f1f2f2;
    width:              178px;
    padding:            5px 2px 5px 2px;
    height:             100px;
    overflow:           hidden;
}

.footerTopic-grade {
    background:         #FFFFFF;
    width:              180px;
    height:             40px;
}

.btnLeftTopic-grade {
    background:         #87c240;
    width:             139px;
    float:             left;
    text-align:         center;
}

.btnLeftTopic-grade p{
    line-height:        3em;
    color:              #2b2d2e;
    text-align:         center;
}

div.btnRightTopic-grade {
    float:              right;
    background:         #2b2d2e;
    color:              #87c240;
    width:              40px;
    height:             39px;
    border-left:        1px solid #FFFFFF;
}


.btnRightTopic-grade p {
    text-align:         center;
    padding-top:         8px;
}

div.btnRightTopicIsFavorited-grade {
    float:              right;
    background:         #2b2d2e;
    width:              40px;
    height:             39px;
    border-left:        1px solid #FFFFFF;
}

.btnRightTopicIsFavorited-grade p {
    text-align:         center;
    padding-top:         8px;
}

.btnRightTopicIsFavorited-grade:hover, .btnRightTopic-grade:hover {
    cursor:pointer;
    background: #403c3c;
    }

.btnLeftTopic-grade:hover  {
    cursor:             pointer;
    background:         #7db43b;
}
/*------------------ Post Tópicos fim --------------------*/

/*------------------ Public Profile --------------------*/
div.publicChanUserProfile{
    padding-top:        40px;
    padding-bottom:     40px;
    clear:              left;
    display:            block;
}

/*------------------ Channel Page --------------------*/
/* Info - parte da esquerda e capa */
div#divCapa {
    margin:             0 auto;
    top:                0;
    width:              864px;
    height:             192px;
}

div.followChannelPage {
    position:           relative;
    left:               760px;
    top:                -60px;
    width:              80px;
    background:         #2b2d2e;
    line-height:        2.4em;
    z-index:            999999;
    cursor:             pointer;
}


.followChannelPage p, .reportChannel p {
    text-align:         center;
    font-size:          1.2em;
    color:              #FFFFFF;
}
div#nameChannelPage {
    position:           absolute;
    top:                150px;
    margin-left:        68px;
    z-index:            999;
}

#nameChannelPage h1{

    color:              #000000;
    font-weight:        bold;
}

div#divInfCanal {
    top:                0;
    margin-left:        48px;
    width:              200px;
    height:             100%;
    background:         #f1f2f2;
    float:              left;
    padding:            10px 10px 0 10px;
}

a.nameOwner {
    font-weight:        bold;
    color:              #000000;
}

a.nameMod {
    font-weight:        bold;
}

div.infoTitleChannel {
    margin-left:        10px;
    margin-bottom:      24px;
    margin-top:         24px;
}

.infoTitleChannel h2 {
    border-bottom:      1px solid #87c240;
    font-size:          1.3em;
    height:             1.3em;
}

p.numberIco {
    margin-top:         30px;
    margin-bottom:      30px;
    text-align:         center;
    font-size:          300%;
    color:              #87c240;
}


p.tagChannel{
    color:              #87c240;
    text-align:         center;
    font-size:          1.2em;
    margin-top:         20px;
    margin-bottom:      20px;
}

div.editTag {
    margin:             0 auto;
    background:         #2b2d2e;
    width:              80px;
    height:             26px;
    cursor:             pointer;
}

div.editTag:hover, .editTag p:hover, .editTag a:hover {
    color:              #87c240;
    cursor:             pointer;
}

.editTag p, .editTag a {
    color:              #FFFFFF;
    text-align:         center;
    font-size:          small;
}

/* Content - Parte da direita */
div.wrapperChannel {
    margin:             0 auto;
    width:              644px;
    float:              left;
}

/*Top Bar*/
nav.chanTopBar {
    width:              644px;
    height:             39px;
    background:         #2b2d2e;
    font-weight:        normal;
    color:              #FFFFFF;
}

.chanTopBar li {
    width:              129px;
    text-align:         center;
    line-height:        3em;
}

.chanTopBar li:last-child {
    width:              128px;
}

.chanTopBar li:hover {
    background:         #2b2d2e;
    border-bottom:      2px solid #87c240;
    height:             36px;
    color:              #87c240;
    cursor:             pointer;
}

/* Content */
.chanTopBar p {
    text-align:         center;
    width:              128px;
    height:             39px;
    text-decoration:    none;
    color:              #FFFFFF;
}

.chanTopBar p:hover, .chanTopBar p:active {
    text-decoration:    none;
    color:              #87c240;
    cursor:             pointer;
}

/*
.wrapperChannel div.divTopic-grade:first-child {
    margin-left:        10px;
}

.wrapperChannel div.divTopic-grade:last-child {
    margin-right:       10px;
}
*/
div.divNotifications, div#divComments, div#divPopularTopics, div#divAllTopics {
    margin:             0 auto;
    height:             100%;
}

p#txtPartChannel {
    margin-top:         20px;
    margin-bottom:      20px;
    margin-left:        10px;
    margin-right:       10px;
    text-align:         left;
    font-size:          1.2em;
    color:              #bcbec0;
}
/*------------------ fim Channel Page --------------*/
/*------------------ Topic Page --------------------*/

/*Top Bar*/
nav.topicTopBar {
    width:              644px;
    height:             39px;
    background:         #2b2d2e;
    font-weight:        normal;
    color:              #FFFFFF;
}

.topicTopBar li {
    width:              215px;
    text-align:         center;
    line-height:        3em;
}

.topicTopBar li:last-child {
    width:              214px;
}

.topicTopBar li:hover {
    background:         #2b2d2e;
    border-bottom:      2px solid #87c240;
    height:             36px;
    color:              #87c240;
    cursor:             pointer;
}

/* Content */
.topicTopBar p {
    text-align:         center;
    width:              214px;
    height:             39px;
    text-decoration:    none;
    color:              #FFFFFF;
}

.topicTopBar p:hover, .topicTopBar p:active {
    text-decoration:    none;
    color:              #87c240;
    cursor:             pointer;
}

/*------------------ Channel Page --------------------*/
/* Info - parte da esquerda e capa */

/* follow e nome
div.followChannelPage {
    position:           relative;
    left:               760px;
    top:                -60px;
    width:              80px;
    background:         #2b2d2e;
    line-height:        2.4em;
    z-index:            999999;
    cursor:             pointer;
}

.followChannelPage p {
    text-align:         center;
    font-size:          1.2em;
    color:              #FFFFFF;
}
div#nameChannelPage {
    position:           absolute;
    top:                150px;
    margin-left:        68px;
    z-index:            9999;
}

#nameChannelPage h1{

    color:              #000000;
    font-weight:        bold;
}
*/


#imgTopic {
    background:         #bcbec0;
    top:                142px;
    position:           absolute;
    margin-left:        68px;
    /*z-index:            999999;*/
    float:              none;
}

div#divInfTopic {
    top:                0;
    margin-left:        48px;
    width:              200px;
    height:             100%;
    background:         #f1f2f2;
    float:              left;
    padding:            10px 10px 0 10px;
}

h1#nameTopicPage {
    margin-left:        10px;
    text-align:         left;
    margin-top:         55px;
}

p.txtInfTopic {
    margin-left:        10px;
    padding:            24px 0 12px 0;
    text-align:         justify;
    color:              #000000;
    font-size:          small;
}

button#btnEditTopic {
    top:                0;
    position:           relative;
    background:         #2b2d2e;
    color:              #FFFFFF;
}

h1.favTopic {
    text-align:         center;
    margin:             12px 10px 24px 10px;
}

p.catTopic{
    color:              #87c240;
    text-align:         center;
    font-size:          1.7em;
    margin-top:         20px;
    margin-bottom:      20px;
}

div#btnEditTopic, div#btnFavoritedTopic, #btnReportTopic, #btnReportChannel {
    margin:             0 auto;
    background:         #2b2d2e;
    width:              80px;
    height:             26px;
    cursor:             pointer;
}

#btnEditTopic:hover, #btnEditTopic p:hover, #btnFavoritedTopic:hover, #btnFavoritedTopic p:hover,#btnReportTopic p:hover, #btnReportChannel p:hover {
    color:              #87c240;
    cursor:             pointer;
}

#btnEditTopic p, #btnFavoritedTopic p, #btnReportTopic p, #btnReportChannel p {
    color:              #FFFFFF;
    text-align:         center;
    font-size:          small;
}


/* Content - Parte da direita */
div.divContentTopic {
    margin:             0 auto;
    width:              644px;
    float:              left;
}

div.contentTitleTopic {
    margin-left:        24px;
    margin-bottom:      24px;
    margin-top:         24px;
    width:              620px;
}

.contentTitleTopic h2 {
    border-bottom:      1px solid #87c240;
    font-size:          1.3em;
    height:             1.3em;
}

div.contentPageTopic {
    margin:             48px 0 48px 24px;
}

/* Comentarios */
div.divComentario { /*Toda a parte do comentário*/
    margin-left:       48px;
    width:             552px;
    background:        #FFFFFF;
}

div.blockComment { /*Bloco de comentário*/
    background:        #FFFFFF;
    margin:            4px 0 4px 0;
    display:           block;
    float:             none;
}

div.firstBlockComment { /*Primeiro comentário*/
    background:         #FFFFFF;
    display:            block;
    height:             auto;
    float:              none;
}

div.divChildComment {
    display:            block;
    float:              none;
    margin:             10px 0 0 24px;
}

div.imgComment {
    height:             48px;
    width:              48px;
}

div.divCommentContent { /* conteudo do comentario - nome, hora, data, texto */
    margin-left:        52px;
    background:         #FFFFFF;
    width:              500px;
}

.divChildComment div.divCommentContent { /* conteudo do comentario - nome, hora, data, texto */
    width:              476px;
}

p.titleCommentContent {
    text-align:        left;
    color:              #4b4b4b;
    font-size:          small;
    font-weight:        bold;
    width:              400px;
}

p.txtCommentContent {
    text-align:         justify;
    color:              #000000;
    font-size:          small;
    font-weight:        normal;
}


div.replyTopBtn{
    border:             none;
    margin-left:        472px;
    background:         #2b2d2e;
    width:              80px;
    height:             26px;
    cursor:             pointer;
    display:            block;
    z-index:            9999999;
}

div#btnSendAnswer {
    margin-left:        398px;
}

.replyTopBtn:hover, .replyTopBtn p:hover {
    color:              #87c240;
    cursor:             pointer;
}

.replyTopBtn p {
    color:              #FFFFFF;
    text-align:         center;
    font-size:          small;
}

div.delComment {
    margin-left:        480px;
    margin-top:         2px;
    position:           absolute;
}

.divChildComment div.delComment {
    margin-left:        456px;
}

/**/

.divNotification {
    background:         #d1d3d4;
    margin:             24px 0 0 24px;
    width:              590px;
    height:             70px;
    border-bottom:      2px solid #87c240;
}

#imgNotification {
    background:         #bcbec0;
    width:              60px;
    height:             60px;
    float:              left;
    margin:             5px;
}

p#timeNotification {
    margin-right:       5px;
    float:              right;
    font-size:          xx-small;
}

p#txtNotification {
    height:             24px;
    padding-top:        24px;
    font-size:          medium;
    overflow:           hidden;
}

p.txtNotification a {
    color:              #87c240;
    font-weight:        bold;
}

/*carregar mais*/
div#divNotificationLoad{
    margin:             24px;
}

div#divNotificationLoadButton{
    margin:             0 auto;
    background:         #2b2d2e;
    width:              200px;
    height:             26px;
    cursor:             pointer;
}

div#divNotificationLoadButton:hover, #divNotificationLoadButton p:hover, #divNotificationLoadButton a:hover{
    color:              #87c240;
    cursor:             pointer;
}

#divNotificationLoadButton p, #divNotificationLoadButton a{
    color:              #FFFFFF;
    text-align:         center;
    font-size:          small;
}

/*Top Bar*/
nav.chanTopBar {
    width:              644px;
    height:             39px;
    background:         #2b2d2e;
    font-weight:        normal;
    color:              #FFFFFF;
}

.chanTopBar li {
    width:              129px;
    text-align:         center;
    line-height:        3em;
}

.chanTopBar li:last-child {
    width:              128px;
}

.chanTopBar li:hover {
    background:         #2b2d2e;
    border-bottom:      2px solid #87c240;
    height:             36px;
    color:              #87c240;
    cursor:             pointer;
}

/* Content */
.chanTopBar p {
    text-align:         center;
    width:              128px;
    height:             39px;
    text-decoration:    none;
    color:              #FFFFFF;
}

.chanTopBar p:hover, .chanTopBar p:active {
    text-decoration:    none;
    color:              #87c240;
    cursor:             pointer;
}

div.divNotifications, div#divComments, div#divPopularTopics, div#divAllTopics {
    margin:             0 auto;
    height:             100%;
}

p#txtPartChannel {
    margin-top:         20px;
    margin-bottom:      20px;
    margin-left:        10px;
    margin-right:       10px;
    text-align:         left;
    font-size:          1.2em;
    color:              #bcbec0;
}
/*------------------ fim Topic Page ----------------*/
/*------------------ fim middle --------------------*/

/*----------------- começo footer -------------------*/

div#footer {/*
    position:           absolute;
    bottom:             0;
    height:             200px;
    background:         #2b2d2e;
    width:              100%;*/
}


/*------------------- fim footer --------------------*/
/*----- começo Botoes interativos / JS & JQuery ----*/
.press {
     cursor:           pointer;
}

 .press a {
     color: #FFFFFF;
 }

.c-grade:hover, .c-lista:hover {
    cursor:            pointer;
}

.userpic:hover, .logo:hover, .BSearch:hover, .BTrTop:hover, .BTop:hover, .BNews:hover, .press:hover,  #profileEdit:hover, .c-lista:hover .c-grade:hover, .postFoBoxL_l:hover, .postFoBoxR_l:hover, .postFoBoxL_g:hover, .postFoBoxR_g:hover, .post_m:hover, .chanPaidImg:hover {
	background:        #bcbec0;
    cursor:            pointer;
}

.attChoice {
    display:           inline-block;
}

.accRef a:hover {
    color: #87c240;
    cursor: pointer;
}
div.accRef {
    padding:            2px;
    padding-right:      10px;
    padding-left:       10px;/*
    width:              57px;*/
    width:              auto;
    height:             22px;
    font-size:          small;
    background:         #2d2b2e; 
    display:            inline-block;
}

.accRef a {
    text-align:         center;
    color: #FFFFFF;
 }



/*------ fim Botoes interativos / JS & JQuery ------*/

.fakeDisable {
    background-color: grey;
    opacity: 0.3;
}